.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-item {
  max-width: calc(100% - 20px); /* Account for gap */
  display: flex;
  flex-direction: column; /* Stacks title and image container vertically */
}

img {
  max-width: 100%; /* Makes sure the image doesn't stretch beyond the container */
  height: auto;
}

.image-container {
  display: flex;
  flex-wrap: nowrap; /* Change to 'wrap' if you want the images to wrap onto the next line */
  gap: 10px; /* Gap between each image item */
}

.image-item {
  position: relative;
  
  img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto; // Center the image if its parent is wider than 500px
  }
  
  .project-content {
    width: 100%;
    max-width: 500px; // Match max-width of the image
    box-sizing: border-box;
    margin: 0 auto; // Center the text box if its parent is wider than 500px
  }
}
