.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-item {
  max-width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  transition: max-width 0.3s ease-in-out; // Specify property for smoother transitions
}

.image-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.image-item {
  position: relative;
  transition: max-width 0.3s ease-in-out, height 0.3s ease-in-out; // Specify properties for smoother transitions
}

.image-item img {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 0 auto;
}

.image-item img.active { // The new .active class
  max-width: 600px;
}

.project-content {
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  margin: 0 auto;
}
