@font-face {
    font-family: 'Aulac';
    src: url(fonts/aulac/AulacRegular.woff2) format('woff2'),
         url(fonts/aulac/AulacRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  .image-caption {
    font-family: "Aulac";
    text-align: center;
    font-size: 0.8em;
    font-kerning: auto;
    hyphens: none;
    letter-spacing: 0.005em;
    padding-bottom: 1em;
    padding-top: 0.5em;
  }

  .project-content, .bio {
    font-family: "Aulac";
    text-align: left;
    font-size: 1em;
    font-kerning: auto;
    hyphens: none;
    line-height: 1.25em;
    letter-spacing: 0.005em;
  }


