// Define mixin for common Aulac styles
@mixin aulac-styles {
    font-family: "Aulac";
    font-kerning: auto;
    hyphens: none;
    letter-spacing: 0.005em;
  }
  
  // Font face definition
  @font-face {
    font-family: 'Aulac';
    src: url(fonts/aulac/AulacRegular.woff2) format('woff2'),
         url(fonts/aulac/AulacRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  // Applying the mixin
  .image-caption {
    @include aulac-styles;
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 1em;
    padding-top: 0.5em;
  }
  
  .project-content, .bio {
    @include aulac-styles;
    text-align: left;
    font-size: 1em;
    line-height: 1.25em;
  }
  