// Define mixin for common Aulac styles
@mixin aulac-styles {
    font-family: "aulac";
    font-kerning: auto;
    hyphens: none;
    letter-spacing: 0.006em;
  }
  
  // Font face definition
  @font-face {
    font-family: 'aulac';
    src: url(/fonts/aulac/AulacRegular.woff2) format('woff2'),
         url(/fonts/aulac/AulacRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  .filter {
    @include aulac-styles;
    text-align: center;
    font-size: 0.75em;
    padding-bottom: 1em;
    padding-top: 0.5em;
    text-transform: uppercase;
  }

  .sort-button.selected {
    text-decoration: underline;
  }  

  // Applying the mixin
  .image-caption {
    @include aulac-styles;
    text-align: center;
    font-size: 0.75em;
    padding-bottom: 1em;
    padding-top: 0.5em;
    text-transform: uppercase;
  }
  
  .project-content, .bio {
    @include aulac-styles;
    text-align: left;
    font-size: 1em;
    line-height: 1.25em;
  }
  
  .poem-item {
    @include aulac-styles;
    text-align: center;
    font-size: 2em;
    line-height: 1.25em;
    max-width: 600px;
    max-width: 15ch;
  }

  .poem-item.active {
    max-width: 15ch;
    font-size: 3em;
    max-width: 600px;
  }

