.footer {
    width: 75%;
    max-width: 75%;
    padding-top: calc(var(--space-unit) * 2);
    
    @media screen and (min-width: 1400px) {
      width: 50%;
      max-width: 50%;
    }
    
    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 100%;
    }
  }

  .border-top {
    border-top: var(--border-width) solid var(--color);
    margin-top: var(--space-unit);
  }