.footer {
    width: 100%; 
    padding-top: var(--space-unit);
  }
  
  @media(min-width: 600px) { 
    .footer { 
      width: 75%; 
    }
  }
  
  @media(min-width: 900px) { 
    .footer { 
      width: 50%; 
    }
  }

  .border-top {
    border-top: 1px solid var(--color);
    margin-top: var(--space-unit);
  }