.bio {
    width: 100%; 
    padding-bottom: calc(var(--space-unit) * 2);
  }
  
  @media(min-width: 600px) { 
    .bio { 
      width: 100%; 
    }
  }
  
  @media(min-width: 900px) { 
    .bio { 
      width:100%; 
    }
  }
  
.toggle-bio-container {
    padding-top: calc(var(--space-unit) / 2);
}

#sortAlpha {
   padding-right: calc(var(--space-unit) / 2);
}

.sort-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
  }

.sort-container {
    padding-bottom: var(--space-unit);
    padding-top: calc(var(--space-unit) / 2);
}

.sort-total {
    padding-bottom: var(--space-unit);
    padding-top: calc(var(--space-unit) / 2);
}

.border-bottom {
  border-bottom: var(--border-width) solid var(--color);
  margin-bottom: var(--space-unit);
}

// –––––––––––––––––– Search

#clear-search-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: -8px; 
}

#clear-search-btn.hidden {
  visibility: hidden;
}

#clear-search-btn:focus {
  outline: none;
}

#search-input {
  border: none; 
}

#search-input:focus {
  outline: none; 
}
