.bio {
    width: 100%; 
  }
  
  @media(min-width: 600px) { 
    .bio { 
      width: 75%; 
    }
  }
  
  @media(min-width: 900px) { 
    .bio { 
      width: 50%; 
    }
  }
  
.toggle-bio-container {
    padding-top: calc(var(--space-unit) / 2);
}

.sort-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
  }

.sort-container {
    padding-bottom: var(--space-unit);
    padding-top: calc(var(--space-unit) / 2);
}

.sort-total {
    padding-bottom: var(--space-unit);
    padding-top: calc(var(--space-unit) / 2);
}