:root {
  --space-unit: 20px;
  --color: rgb(7, 7, 7);
  --background-color: rgb(255, 255, 255);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}

.container {
  padding: var(--space-unit);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-unit);
  align-items: baseline;
}

.hidden {
  display: none;
}

::selection {
  background-color: var(--color);
  color: var(--background-color);
}

::-moz-selection {
  background-color: var(--color);
  color: var(--background-color);
}

