:root {
  --space-unit: clamp(15px, 1.125vw, 100vh);
  --border-width: clamp(1px, 0.1vw, 100vh);
  --color: rgb(7, 7, 7);
  --background-color: rgb(255, 255, 255);
  font-size: clamp(16px, 1.1vw, 100vh);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}

.container {
  padding: var(--space-unit);
}

.bio {
  width: 75%;
  max-width: 75%;
  
  @media screen and (min-width: 1400px) {
    width: 50%;
    max-width: 50%;
  }
  
  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 100%;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-unit);
  align-items: baseline;
}

.hidden {
  display: none;
}

::selection {
  background-color: var(--color);
  color: var(--background-color);
}

::-moz-selection {
  background-color: var(--color);
  color: var(--background-color);
}
