  .flex-item {
      max-width: calc(100% - var(--space-unit));
      display: flex;
      flex-direction: column;
  }

  .flex-item:focus {
    outline: none;
  }
  
  img {
    position: relative;
    height: auto;
    display: block;
    background-size:3px 3px;
    background-position: 0px 0px;
  }

  .image-background {
      position: relative;
      display: inline-block; 
      background-image: radial-gradient(black 1px, #f9f9f9 0);  
      background-size:3px 3px;
      background-position: 0px 0px;
  }

  .image-background img {
      display: block; 
      max-width: 100%; 
      height: auto;
  }

  .image-container {
    display: flex;
    flex-wrap: nowrap;
    gap: calc(var(--space-unit) / 2);
  }
  
  .image-caption {
    padding-bottom: var(--space-unit);
    padding-top: calc(var(--space-unit) / 2);
    opacity: 0;
    display: none;
    max-width: 600px;
    object-fit: contain;
  }
  
  .image-item img,
  .poem-item { 
    max-width: 150px;
    max-height: 150px; 
    object-fit: contain;
  }
  
  .image-item.navigable-item.active img,
  .poem-item.navigable-item.active {
    max-width: 600px;
    max-height: 600px; 
    object-fit: contain;
  }
  
  .flex-item[data-highlight="true"] .image-item {
    max-width: 600px;
    max-height: 600px; 
    object-fit: contain;
  }

  /*** NEED TO STYLE **/

  .project-content { 
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
   /***  **/

  .navigable-item.active .project-content {
    margin: 0; 
  }
  
  .navigable-item:focus {
    outline: none;
  }
  
  :focus {
    outline: none;
  }

  .poem-item.active {
    background-color: aquamarine;
  }
  
  .poem-item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
  }
  
  #totalMdFiles {
    display: none;
  }
  