// ———————————————————————————— Typo Setup
:root * {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-variant-ligatures: contextual;
  font-smooth: always;
  hyphens: none;
  text-rendering: optimizeLegibility;
}

$font-size-base: 1.25em;
$line-height-base: 1.35em;

@font-face {
  font-family: 'oror-round';
  src: url(/fonts/oror/OrorMono-Round-Regular.woff2) format('woff2'),
       url(/fonts/oror/OrorMono-Round-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'oror-round-italic';
  src: url(/fonts/oror/OrorMono-Round-Italic.woff2) format('woff2'),
       url(/fonts/oror/OrorMono-Round-Italic.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@mixin font-style {
  font-family: "oror-round";
  font-kerning: normal;
  color: var(--color);
}

em {
  font-family: "oror-round-italic";
  font-kerning: normal;
  color: var(--color);
}

// ———————————————————————————— Header
.bio-content, .bio-expand, .footer {
  @include font-style;
  text-align: left;
  font-size: $font-size-base;
  line-height: $line-height-base;

  p:nth-of-type(n+2) {
    text-indent: calc(var(--space-unit) * 2);
}

  a:link, a:visited {
    color: var(--color);
    text-decoration: underline;
  }
  
  a:hover, a:active {
    color: var(--color);
    text-decoration: none;
  }
}

.contact {
  @include font-style;
  text-align: left;
  font-size: $font-size-base;
  line-height: $line-height-base;
  display: flex;

  a:link, a:visited {
    color: var(--color);
    text-decoration: none;
  }

  a:hover, a:active {
    color: var(--color);
    text-decoration: none;
  }

  a:not(:last-child)::after {
    content: '  ';
    white-space: pre;
  }
}

.contact {
  flex-direction: row;
}

@media(min-width: 600px) { 
  .contact { 
    flex-direction: column;
    
    a:not(:last-child)::after {
      content: '';
    }
  }
}

@media(min-width: 900px) { 
  .contact { 
    flex-direction: column;

    a:not(:last-child)::after {
      content: '';
    }
  }
}

.toggle-bio {
  @include font-style;
  text-align: left;
  font-size: $font-size-base * 0.65;
  line-height: $line-height-base;
}

.sort-total, .sort-button {
  @include font-style;
  font-size: $font-size-base * 0.65;
}

.sort-button.selected {
  text-decoration: underline;
}   

#clear-search-btn {
  @include font-style;
  text-align: left;
  font-size: $font-size-base * 0.65;
  line-height: $line-height-base;
}

#search-input {
  @include font-style;
  text-align: left;
  font-size: $font-size-base * 0.65;
  line-height: $line-height-base;
  color: var(--color);
}

#search-input::placeholder {
  color: var(--color);
}

// ———————————————————————————— Project Grid
.image-fig, .image-number, .overlay-caption {
  @include font-style;
  text-align: left;
  font-size: $font-size-base * 0.65;
  line-height: $line-height-base;
}

.project-description {
  @include font-style;
  text-align: left;
  font-size: $font-size-base * 0.65;
  line-height: $line-height-base;

  p:nth-of-type(2) {
    text-indent: calc(var(--space-unit) * 2);
  }

  a:link, a:visited {
    color: var(--color);
    text-decoration: underline;
    position: relative;
  }

  a:hover, a:active {
    color: var(--color);
    text-decoration: none;
  }
}

a.download-link {
  position: relative;
  text-decoration: none;
}

a.download-link::after {
  content: "↘"; 
  position: absolute;
  top: 0;
  right: -1em; 
}


// ———————————————————————————— 404 Error
.fourzerofour {
  @include font-style;
  text-align: left;
  text-transform: uppercase;
  font-size: $font-size-base * 3;
  line-height: $line-height-base;
}