// Typography Setup———————————————————————————————————————
:root * {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-variant-ligatures: contextual;
  font-smooth: always;
  hyphens: none;
  text-rendering: optimizeLegibility;
}

$font-size-base: 1.25em;
$line-height-base: 1.25em;

@font-face {
  font-family: 'aulac';
  src: url(/fonts/aulac/AulacRegular.woff2) format('woff2'),
       url(/fonts/aulac/AulacRegular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@mixin aulac-styles {
  font-family: "aulac";
  font-kerning: normal;
  letter-spacing: 0.0075em;
  color: var(--color);
}

// Header——————————————————————————————————————————————
.bio-content, .bio-expand, .footer {
  @include aulac-styles;
  text-align: left;
  font-size: $font-size-base;
  line-height: $line-height-base;

  p:nth-of-type(2) {
    text-indent: calc(var(--space-unit) * 2);
  }
  
  a:link, a:visited {
    color: var(--color);
    text-decoration: underline;
  }
  
  a:hover, a:active {
    color: var(--color);
    text-decoration: none;
  }
}

.contact {
  @include aulac-styles;
  text-align: left;
  font-size: $font-size-base;
  line-height: $line-height-base;
  display: flex;

  a:link, a:visited {
    color: var(--color);
    text-decoration: none;
  }

  a:hover, a:active {
    color: var(--color);
    text-decoration: none;
  }

  a:not(:last-child)::after {
    content: '  ';
    white-space: pre;
  }
}

.contact {
  flex-direction: row;
}

@media(min-width: 600px) { 
  .contact { 
    flex-direction: column;
    
    a:not(:last-child)::after {
      content: '';
    }
  }
}

@media(min-width: 900px) { 
  .contact { 
    flex-direction: column;

    a:not(:last-child)::after {
      content: '';
    }
  }
}


.toggle-bio {
  @include aulac-styles;
  text-align: left;
  font-size: $font-size-base * 0.65;
  line-height: $line-height-base;
}


.sort-total, .sort-button {
  @include aulac-styles;
  font-size: $font-size-base * 0.65;
}

.sort-button.selected {
  text-decoration: underline;
}   

// Project Grid——————————————————————————————————————————————
.image-caption, .overlay-caption {
  @include aulac-styles;
  text-align: left;
  font-size: $font-size-base * 0.65;
  line-height: $line-height-base;
}

.image-number {
}

.project-content {
  @include aulac-styles;
  text-align: left;
  font-size: $font-size-base * 0.65;
  line-height: $line-height-base;

  p:nth-of-type(2) {
    text-indent: calc(var(--space-unit) * 2);
  }
}

// 404 Error——————————————————————————————————————————————
.fourzerofour {
  @include aulac-styles;
  text-align: left;
  text-transform: uppercase;
  font-size: $font-size-base * 3;
  line-height: $line-height-base;
}