  :root {
    font-feature-settings: 'liga', 'kern';
  }
  
  :root * {
    -moz-osx-font-smoothing:  grayscale;
    -webkit-font-smoothing:   antialiased;
    -webkit-text-size-adjust: none;
    font-kerning:             normal;
    font-smooth:              always;
    text-rendering:           optimizeLegibility;
  }
  
  @mixin aulac-styles {
    font-family: "aulac";
    font-kerning: auto;
    hyphens: none;
    letter-spacing: 0.0075em;
    color: black;
  }
  
  $font-size-base: 1em;
  $line-height-base: 1.25em;

  @font-face {
    font-family: 'aulac';
    src: url(/fonts/aulac/AulacRegular.woff2) format('woff2'),
         url(/fonts/aulac/AulacRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .sort-total, .sort-button  {
    @include aulac-styles;
    font-size: $font-size-base * 0.75;
  }

  .sort-button.selected {
    text-decoration: underline;
  }   

  .image-caption {
    @include aulac-styles;
    text-align: left;
    font-size: $font-size-base * 0.75;
    text-transform: uppercase;
  }
  
  .bio, footer {
    @include aulac-styles;
    text-align: left;
    font-size: $font-size-base;
    line-height: $line-height-base;
  
    p:nth-of-type(2) {
      text-indent: calc(var(--space-unit) * 2);
    }
  }
  
  .project-content {
    @include aulac-styles;
    text-align: left;
    font-size: $font-size-base * 0.75;
    line-height: $line-height-base;
  
    p:nth-of-type(2) {
      text-indent: calc(var(--space-unit) * 2);
    }
  }

  .poem-item {
    @include aulac-styles;
    text-align: center;
    font-size: $font-size-base * 2;
    line-height: $line-height-base;
    max-width: 600px;
    max-width: 15ch;
  }

  .poem-item.active {
    max-width: 15ch;
    font-size: 3em;
    max-width: 600px;
  }

  ::selection {
    background-color: black;
    color: white;
  }
  
  ::-moz-selection {
    background-color: black;
    color: white;
  }