<!-- Biography and Contact-->

<div class="flex-container">
    <div class="bio">
        <div class="bio-content">
            {{ .Content | safeHTML }}
        </div>
    </div>
</div>


<!-- Sorting, Indexing, and Search -->

<div class="flex-container border-bottom">
    <div class="sort-container">
        <button id="sortAlpha" class="sort-button selected">Alphabetical</button>
        <button id="sortChrono" class="sort-button">Chronological</button>
    </div>
    <!--
    <div class="search-container">
        <button id="clear-search-btn" aria-label="Clear search" class="hidden">×</button>
        <input type="text" id="search-input" placeholder="Search" />
    </div>
    -->
</div>
