<!-- Numbering and Sorting -->

<div id="totalMdFiles"></div>
<div id="assortment" class="flex-container">
  {{ $sortedPages := sort .Site.RegularPages "Title" "asc" }}
  {{ range $sortedPages }}
    {{ if eq .Section "work" }}
      {{ $currentPage := . }}
      {{ $year := index .Params.data 2 "description" }}
      
 <!-- Handling image resources -->

      {{ $imageResources := .Resources.ByType "image" }}
      {{ if $imageResources }}
        {{ range $index, $element := $imageResources }}
          {{ $smallImage := $element.Fit "300x300 webp" }}
          {{ $largeImage := $element.Fit "1200x1200 webp" }}

          <div class="flex-item" data-url="{{ .RelPermalink }}" data-title="{{ $currentPage.Title }}" data-year="{{ $year }}" tabindex="0">
              <div class="image-item navigable-item">
                <div class="image-background">
                  <img src="{{ $smallImage.RelPermalink }}" 
                       data-large-src="{{ $largeImage.RelPermalink }}"
                       alt="{{ with $element.Params.alt }}{{ . }}{{ else }}{{ $element.Title }}{{ end }}" 
                       width="{{ $smallImage.Width }}" 
                       height="{{ $smallImage.Height }}" 
                       data-large-width="{{ $largeImage.Width }}" 
                       data-large-height="{{ $largeImage.Height }}" 
                       data-highlight="{{ with $element.Params.highlight }}{{ . }}{{ else }}false{{ end }}"
                       class="lazy" />
                  <div class="overlay-caption"></div>
                </div>
                <div class="image-caption">
                  <div class="image-content">
                      <div class="image-fig">
                        {{ if $year }}<span class="year-pill">{{ $year }}</span> {{ end }}
                        {{ with $element.Params.caption }}
                        <em>{{ . }}</em>{{ if $element.Params.location }},{{ end }}
                      {{ end }}
                      {{ with $element.Params.location }}
                        {{ . }}
                      {{ end }}
                      {{ $role := index $currentPage.Params.data 0 "description" }}
                      {{ $collaborators := index $currentPage.Params.data 1 "description" }}
                      {{ if $role }}({{ $role }}){{ end }}
                      {{ if $collaborators }}w/ {{ $collaborators }}{{ end }}
                      </div>
                  </div>  	
                  {{ if and (eq $index 0) $currentPage.Content }}<div class="project-description">{{ $currentPage.Content }}</div>{{ end }}
              </div>
              </div>
          </div>
        {{ end }}
      {{ end }}
      
 <!-- Handling video resources -->

      {{ $videoResources := .Resources.ByType "video" }}
      {{ if $videoResources }}
        {{ range $index, $element := $videoResources }}
          <div class="flex-item" data-title="{{ $currentPage.Title }}" data-year="{{ $year }}" tabindex="0">
              <div class="image-item navigable-item">
                <div class="image-background">
                  <div class="video-container">
                    <video
                          id='video-js'
                          class='vjs-default-skin video-js video-item'
                          autoplay
                          muted
                          loop
                          data-highlight="{{ with $element.Params.highlight }}{{ . }}{{ else }}false{{ end }}"
                          >
                          <source src="{{ $element.RelPermalink }}" type='video/mp4'>
                      </video>  
                    </div>           
                  <div class="overlay-caption"></div>
                </div>
                <div class="image-caption">
                  <div class="image-content">
                      <div class="image-fig">
                        {{ if $year }}<span class="year-pill">{{ $year }}</span> {{ end }}
                        {{ with $element.Params.caption }}<em>{{ . }}</em>,{{ else }}{{ end }}
                        {{ with $element.Params.location }}{{ . }}{{ else }}{{ end }}
                        {{ $role := index $currentPage.Params.data 0 "description" }}
                        {{ $collaborators := index $currentPage.Params.data 1 "description" }}
                        {{ if $role }}({{ $role }}){{ end }}
                        {{ if $collaborators }}w/ {{ $collaborators }}{{ end }}
                      </div>
                  </div>  	
                  {{ if and (eq $index 0) $currentPage.Content }}<div class="project-description">{{ $currentPage.Content }}</div>{{ end }}
                </div>
              </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>
