{{ define "main" }}

			{{site.Title}}{{.Content}}

			<div class="flex-container">
				{{ $sortedPages := sort .Site.RegularPages "Title" "asc" }}
				{{ range $sortedPages }}
				  {{ if eq .Section "work" }}
					{{ with .Resources.ByType "image" }}
					  {{ range . }}
						<div class="flex-item">
						  <div class="image-container">
							<div class="image-item">
							  <img src="{{ .RelPermalink }}" alt="{{ with .Params.alt }}{{ . }}{{ else }}{{ .Title }}{{ end }}" />
							  <p>{{ with .Params.caption }}{{ . }}{{ else }}No Caption{{ end }}</p>
							</div>
						  </div>
						</div>
					  {{ end }}
					{{ end }}
				  {{ end }}
				{{ end }}  
			  </div>
			  
			  
			  
{{ end }}