{{ define "main" }}

			{{site.Title}}
			{{- with .Site.Params.Tagline }}
			{{end -}}
			{{.Content}}

			<div class="masonry">
				{{ $sortedPages := sort .Site.RegularPages "Title" "asc" }}
				{{ range $sortedPages }}
				  {{ if eq .Section "work" }}
					<div class="masonry-item">  
					  <a href="{{ .Permalink }}">{{ .Title }}</a>
					  {{ with .Resources.ByType "image" }}
						{{ range . }}
						  <img src="{{ .RelPermalink }}" alt="{{ with .Params.alt }}{{ . }}{{ else }}{{ .Title }}{{ end }}" />
						  <p>{{ with .Params.caption }}{{ . }}{{ else }}No Caption{{ end }}</p>
						{{ end }}
					  {{ end }}
					</div>
				  {{ end }}
				{{ end }}  
			  </div>
			  
{{ end }}